<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Barra de Progreso</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" [ngClass]="{'bg-success': percent == 100 , 'bg-danger': percent <= 30 , 'bg-warning': percent > 30 && percent < 60 }"
            style="width: 75%" [attr.ariaValuenow]="percent1" [style.width]="percent1 + '%'">
            <span *ngIf="percent1 > 0">{{ percent1 }}%</span>
          </div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 75%" [attr.ariaValuenow]="percent2" [style.width]="percent2 + '%'">
            <span *ngIf="percent2 > 0">{{ percent2 }}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [percent]="percent1" [leyend]="'Progress Azul '" (changepercent)=" percent1 = $event "></app-increment>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [percent]="percent2" [leyend]="'Progress Verde '" (changepercent)=" percent2 = $event "></app-increment>
      </div>
    </div>
  </div>
</div>
