<!-- ============================================================== -->
<!-- Main wrapper  -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- Header And Search Box -->
  <app-header></app-header>
  <!-- Sidebard / Router dinamic -->
  <app-sidebard></app-sidebard>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcrum></app-breadcrum>

      <router-outlet></router-outlet>

    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © {{ year | date : 'y' }} / {{ author }}
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>

</div>
