<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">Patrick Salguero </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a routerLinkActive='active' routerLink="/account-settings">Configuraciones</a></li>
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngFor="let me of _sideBarService.menu">
                  <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                    <i [class]=" me.icon "></i>
                    <span class="hide-menu">{{ me.title }}
                      <span class="label label-rouded label-themecolor pull-right">{{ me.submenu.length }}</span>
                    </span>
                  </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let sb of me.submenu">
                          <a routerLinkActive='active' [routerLink]="[ sb.path ]" > {{ sb.title }} </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
