    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/lg.png);">
      <div class="login-box card">
          <div class="card-body">
              <form ngNativeValidate [formGroup] ="formgroup" (ngSubmit)="registerUser()" class="form-horizontal form-material" id="loginform" action="index.html">
                  <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>
                  <h3 class="box-title m-t-40 m-b-0">Registrate Ahora</h3><small>Crea una cuenta y divertete!</small>
                  <div class="form-group m-t-20">
                      <div class="col-xs-12">
                          <input name="name" [formControlName]="'name'" class="form-control" type="text" placeholder="Nombre completo" required>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input name="email" [formControlName]="'email'" class="form-control" type="text"  placeholder="Email" required>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input name="password" [formControlName]="'password'" class="form-control" type="password"  placeholder="Contraseña" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <input name="password2" [formControlName]="'password2'" class="form-control" type="password" placeholder="Confirma contraseña" required>
                      </div>
                  </div>

                  <!-- Mensaje de validacion de contraseñas -->
                  <div class="form-group" *ngIf="!formgroup.pristine && formgroup.errors?.isEquals ">
                    <span class="text-danger"><small>Las contraseñas deben ser iguales.</small></span>
                  </div>

                  <div class="form-group row">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-primary p-t-0">
                              <input name="terms" [formControlName]="'terms'" id="checkbox-signup" type="checkbox">
                              <label for="checkbox-signup"> Acepto todos los <a href="#">Terminos</a></label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="formgroup.invalid">Registrarse</button>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <p>¿ Ya tienes una cuenta ? <a [routerLink]="'/login'" class="text-info m-l-5"><b>Iniciar Sesión</b></a></p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </section>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
